<!doctype html>
<html lang="en">
  <%- include('../../layouts/head') -%>
  <body class="bg-[#252429] text-[#dadcdd]">
    <%- include('../../components/sidebar') -%>
    <div class="pl-32">
      <!-- Header -->
      <%- include('../../components/header') -%>
      <!-- End Header -->
      <!-- Content -->
      <main class="p-5 min-h-screen">
        <div class="mb-5 flex gap-5 justify-end">
          <input
            type="text"
            class="p-2 rounded-xl w-72 bg-[#2a292e] text-[#dadcdd]"
            placeholder="Search..."
          />
          <!-- Modal -->
          <button class="btn btn-primary" onclick="my_modal_2.showModal()">
            Add Member
          </button>

          <dialog id="my_modal_2" class="modal">
            <div class="modal-box bg-[#2a292e]">
              <form action="/member" method="post">
                <div class="mb-5 flex flex-col gap-3">
                  <label for="name">Nama : </label>
                  <input
                    id="name"
                    name="name"
                    type="text"
                    class="p-2 bg-[#252429] text-[#dadcdd] rounded-xl"
                    placeholder="Nama"
                    required
                  />
                </div>
                <div class="mb-5 flex flex-col gap-3">
                  <label for="">No. Telp : </label>
                  <input
                    id="no_telp"
                    name="no_telp"
                    type="text"
                    class="p-2 bg-[#252429] text-[#dadcdd] rounded-xl"
                    placeholder="No. Telp"
                    required
                  />
                </div>
                <div class="mb-5 flex flex-col gap-3">
                  <label for="">Alamat : </label>
                  <input
                    id="address"
                    name="address"
                    type="text"
                    class="p-2 bg-[#252429] text-[#dadcdd] rounded-xl"
                    placeholder="Alamat"
                    required
                  />
                </div>
                <div class="mb-5">
                  <button
                    class="btn btn-primary bg-primary border-primary border-transparent text-white w-full"
                  >
                    Add
                  </button>
                </div>
              </form>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
          <!-- End Modal -->
        </div>
        <div
          class="border border-gray-600 rounded-xl h-fit pt-5 bg-gradient-to-tr from-[#212025] to-[#ffffff15]"
        >
          <div class="px-5 mb-5">
            <p class="font-semibold text-2xl">Gym Member</p>
          </div>
          <div>
            <table class="w-full">
              <thead class="sticky top-0 bg-[#2a292e]">
                <tr>
                  <th class="text-left p-2">Name</th>
                  <th class="text-left p-2">Phone</th>
                  <th class="text-left p-2">Address</th>
                  <th class="text-left p-2">Created Date</th>
                  <th class="text-left p-2">Updated Date</th>
                  <th class="text-left p-2"></th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(member){ %>
                  <tr class="border-b border-gray-600">
                    <td class="p-2 font-semibold"><%= member.name %></td>
                    <td class="p-2 font-semibold"><%= member.phone %></td>
                    <td class="p-2 text-left font-semibold w-56">
                      <%= member.address %>
                    </td>
                    <td class="p-2 w-64">
                      <%= moment(member.created_at).format("d/M/Y H:m:s") %>
                    </td>
                    <td class="p-2 w-64">
                      <%= moment(member.updated_at).format("d/M/Y H:m:s") %>
                    </td>
                    <td class="w-20">
                      <div class="dropdown dropdown-end">
                        <label tabindex="0" class="cursor-pointer">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
                            />
                          </svg>
                        </label>
                        <ul
                          tabindex="0"
                          class="dropdown-content z-[1] menu p-2 shadow bg-[#2a292e] hover:text-white rounded-box w-52 border border-gray-600"
                        >
                          <li>
                            <a href="/member/<%= member.id %>" class="hover:text-white">Detail</a>
                          </li>
                          <li><a id="delete-button" href="/member/<%= member.id %>" class="hover:text-white">Delete</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                <% }); %>
                
              </tbody>
            </table>
            <!-- Button Pagination -->
            <div class="flex justify-end p-5">
              <div class="join">
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn"
                >
                  Previous
                </button>
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn"
                >
                  1
                </button>
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn btn-active"
                >
                  2
                </button>
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn"
                >
                  3
                </button>
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn"
                >
                  4
                </button>
                <button
                  class="join-item bg-transparent border-gray-600 text-white btn"
                >
                  Next
                </button>
              </div>
            </div>
            <!-- End Button Pagination -->
          </div>
        </div>
      </main>
      <!-- End Content -->
    </div>
    <%- include('../../layouts/script') -%>
    <script>
      $(function() {
        $('#delete-button').click(function(event) {
          event.preventDefault();
          const el = $(this);
          $.ajax({
            type: "DELETE",
            url: el.attr('href'),
            success: function(data, status, xhr) {
              if(status == '200') {
                alert('Data deleted successfully');
                location.reload();
              }
            }
          })
        });
      });
    </script>
  </body>
</html>
